* {
    font-family: Helvetica, Arial, sans-serif;

}

body {
    padding: 60px;
    background-image: linear-gradient(rgb(255, 225, 93), rgb(220, 53, 53)),
        url("https://p4.wallpaperbetter.com/wallpaper/518/375/797/manga-anime-mix-up-hd-wallpaper-preview.jpg");
}


h1 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: #B01E68;
}

input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px 10px 15px;
    width: 100%;
    box-shadow: 2px 2px #B01E68;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem;
    color: #DC3535;

}

h3 {
    font-size: 3rem;
    margin-bottom: 5px;
    background: linear-gradient(rgb(251, 6, 19), rgb(255, 0, 140));
    -webkit-background-clip: text;
    color: transparent;
}